body{
	background-color: rgba(209,209,209,0.2);
    font-size:1em;
    font-family: "Ubuntu", sans-serif;
}

h2{
	text-align: center;
}

#LogIn{
	margin-top: 50px;
	margin-left: 50px;
	margin-right:auto;
}

#box{
	position: relative;
	width :  960px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 960px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 7px 7px 7px 7px;	
	background-color: white;
}
#box p{
	margin-top: 90px;
	font-size:20;
	padding: 5px;
	color: rgba(0,0,0,0.5);
	text-indent: 50px;
	font: Arial;
}

#toolBar{

	margin: 0;
	margin-top: 10px;
	padding-right: 0px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.1);
	border-bottom: rgba(0,0,0,0.3);
}

#toolBar li{
	margin: 0;
	padding-right: 10px;
	display: inline;
	border-right: 1px solid rgba(0,0,0,0.1);
}

#toolBar li:hover{
	background-color: rgba(0,0,0,0.1);
}
label.error {
    margin-left: 20px;
    background-color: #f5dfdf;
    padding-left: 5px;
    padding-right: 5px;
    font-size:0.9em;
}
